* {
    margin: 0 auto;
    padding: 0;
}

body {
    background-attachment: scroll;
    background-image: url(../img/background_gray.png);
    background-clip: border-box;
    background-repeat: repeat;
}

::-webkit-scrollbar {
    display: none;
}

nav ul img {
    width: 20px;
    height: 15px;
}

nav {
    border-bottom: 1px solid rgb(96, 140, 185);
    list-style: none;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    margin: 0 auto;
    overflow: hidden;
    background-color: rgba(73, 78, 107, 0.2);
}

nav li {
    display: inline;
    float: left;
}

nav li a {
    display: block;
    color: #75aaff;
    padding: 18px 15px;
    text-decoration: none;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: lighter;
}

nav li a:hover {
    color: #E7DFDD;
    border-bottom: 1px solid #E7DFDD;
}

.active {
    position: relative;
    color: white;
}

.active:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/background_gray.png);
    width: 100%;
    height: 100%;
    opacity : 0.6;
    z-index: -1;
}

.support {
  width: 100%;
  height: 100%;
  visibility: hidden;
  position: absolute;
}

#bkv {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.notebkv {
    font-family: "Goudy Bookletter 1911", sans-serif;
    clear: left;
    background-color: rgba(73, 78, 107, 0.7);
    padding: 1.1% 1.1%;
    margin: 5% 25%;
    box-sizing: border-box;
    border-style: solid;
    border-color: rgb(96, 140, 185);
    border-width: 1px 1px 1px 7px;
    top: 35%;
    color: white;
    position: absolute;
}

.doblank {
    font-family: "Goudy Bookletter 1911", sans-serif;
    background-attachment: scroll;
    background-image: url(../img/background_gray.png);
    background-clip: border-box;
    background-repeat: repeat;
    color: rgb(222, 222, 222);
    top: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    border-top: 3px solid rgb(96, 140, 185);
}

.news {
    padding: 2% 1%;
}

.news h1 {
    padding-left: 1px;
    border-left: 6px solid rgb(96, 140, 185);
    padding-bottom: 5px;
    padding-left: 5px;
}

.news table {
    float: left;
    border-left: 6px solid rgb(96, 140, 185);
}

.news table td {
    width: 33%;
    border-bottom: 1px solid rgb(96, 140, 185);
}

.news table tr:hover {
  background-color: rgba(73, 78, 107, 0.3);
  border-bottom: 2px solid #E7DFDD;
}

.dropdown-content {
     display: none;
     position: absolute;
     min-width: 160px;
     font-family: "Goudy Bookletter 1911", sans-serif;
     background-color: rgba(73, 78, 107, 0.2);
     box-sizing: border-box;
     border-style: solid;
     border-color: rgb(96, 140, 185);
     border-width: 0 1px 1px 1px;
     z-index: 1;
     color: white;
 }

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.mobile-dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    font-family: "Goudy Bookletter 1911", sans-serif;
    background-color: rgba(73, 78, 107, 0.2);
    box-sizing: border-box;
    border-style: solid;
    border-color: rgb(96, 140, 185);
    border-width: 0 1px 1px 1px;
    z-index: 1;
    color: white;
}

.mobile-dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.show {display:block;}

.dshow {display:block;}

.mobile {
    display: none;
}


@media screen and (max-width: 1000px) {
    #bkv {
        display: none;
    }
    @media screen and (min-width: 600px) {

        .support {
            visibility: visible;
        }

        .active {
            background-color: rgba(25, 34, 49, 0.5);
        }

        .dropdown-content {
            background-attachment: scroll;
            background-image: url(../img/background_gray.png);
            background-clip: border-box;
            background-repeat: repeat;
        }
    }
}

@media screen and (max-width: 600px) {
  nav li {
    width: 100%;
  }
  nav {
    position: relative;
  }
  .doblank {
    position: relative;
    padding-top: 5%;
    border: 0;
  }
  .notebkv {
    display: none;
  }
  #gonews {
    display: none;
  }
  .support {
    display: none;
  }
    .dropdown-content {
        position: relative;
        width: 100%;
        border: 0;
        border-bottom: 1px solid rgb(96, 140, 185);
        background-color: rgba(0, 0, 0, 0.0);
    }

    .mobile-dropdown-content {
        position: relative;
        width: 100%;
        border: 0;
        border-bottom: 1px solid rgb(96, 140, 185);
        background-color: rgba(0, 0, 0, 0.0);
    }

    .mobile {
        display: block;
    }
    .normal {
        display: none;
    }
}
